*
{
    margin: 0;
    padding: 0%;
    font-family: 'Heebo', sans-serif;
    scroll-behavior:smooth;
}
body
{
    background: rgb(31, 35, 46);
}
.container
{
    margin: auto 100px;
}
.navbar
{
    position: sticky !important;
    top: 0;
    z-index: 100;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.navbar .tag a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar .tag a h1
{
    animation: blink 1s infinite linear;
    text-shadow: 1px 1px 7px rgba(214, 209, 209, 0.6);
}
/* @keyframes blink 
{
    0%
    {
        transform: scale(1);
    }
    15%
    {
        transform: translateY(1rem);
    }
    25%
    {
        transform: rotate(5deg);
    }    
    50%
    {
        transform: scale(1.1);
    }
    75%
    {
        transform: rotate(-5deg);
    }
    85%
    {
        transform: translateY(-.6rem);
    }
    100%
    {
        transform: scale(1)
    }
} */

.navbar .navbar_links ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.navbar .navbar_links ul li
{
    position: relative !important;
    list-style: none;
}
.navbar .navbar_links ul li a
{
    text-decoration: none;
    color: white;
}

.navbar .navbar_links ul li a::before
{
    content: " ";
    position: absolute;
    width: 0%;
    border-radius: 8px;
    transition: width 500ms;
    height: 2px;
    bottom: 0;
    background-color: #26d9d3;
}
.navbar .navbar_links ul li:hover a::before
{
    width: 100%;
}

.navbar .navbar_links ul li a:hover
{
    transition: all linear .3s;
    text-decoration: none;
    color: rgb(38, 217, 211);
}

.navbar .toggle_btn
{
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
}
@media (max-width:788.98px) 
{
    .navbar .navbar_links ul li a 
    {
        font-size: small;
    }
}
@media (max-width:729.98px) 
{
    body
    {
        background: rgb(49, 55, 67);
    }
    .navbar
    {
        z-index: 1000;
        position: sticky;
        top: 0%;
        margin-top: 5px;
        background-color: rgb(31, 35, 46);
        padding: 10px;
        border-radius: 5px;
    }
    .navbar .navbar_links
    {
        display: none;
    }
    .navbar .toggle_btn
    {
        display : flex !important;
    }
    .navbar .navbar_links ul li a 
    {
        font-size: small;
    }
    .navbar  .navbar_links ul
    {
        transition: all ease-in-out.3s;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        top: 100%;
        right: 0%;
        background-color: rgb(31, 35, 46);
        width: inherit;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 200px;
    }
    .navbar .navbar_links.active
    {
        display: flex;
    }
    .navbar .toggle_btn img
    {
        width: 40px;
    }
}

/* main */

main .details
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    height: 90vh;
}

main .details .first-column
{
    color: rgb(248, 249, 253);
    line-height: 50px;
    width: 350px
}

main .details .first-column h2 #transition
{
    color:#26d9d3;
}
main .details .first-column h1{
    font-weight: bolder;
}
main .details .first-column .social-links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
    gap: 0px;
}
main .details .first-column .social-links .icons
{
    width: 100%;
    height: 100%;
}

main .details .first-column .social-links img
{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 10px;
    object-fit: cover;
    color: white;
    transition: transform 400ms;
}
main .details .first-column .social-links img:hover
{
    transform: scale(1.1);
}


main .details .first-column .resume a button
{
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
    border:1px solid aqua;
    background-color: rgb(38, 217, 211);
    box-shadow: 1px 1px 15px rgb(38, 217, 211);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}


main .details .second-column .image
{
    width: 400px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    animation : float 2s infinite ease-in-out;
}
main .details .second-column .image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms;
}
@keyframes float 
{
    0%
    {
        transform: translate(0);
    }  
    50%
    {
        transform: translateY(-1.5rem);
    } 
    100%
    {
        transform: translate(0);
    }   
}
main .details .second-column .image:hover img
{
    transform: scale(1.1);
}
@media (max-width:990.98px) 
{
    main .details .second-column .image
    {
        width: 300px;
        height: 300px;
    }
}
@media (max-width:890.98px) 
{
    main .details .second-column .image
    {
        width: 200px;
        height: 200px;
    }
    main .details .first-column h2
    {
        font-size: large;
    }
    main .details .first-column
    {
        width:270px ;
    }
    main .details .first-column .social-links img
    {
        width: 20px;
        height: 20px;
    }
}
@media (max-width:700.98px) 
{
    .container 
    {
        margin: auto 30px;
    }
    .navbar .tag a h1
    {
        font-size: 20px;
    }
    main .details .second-column .image
    {
        width: 150px;
        height: 150px;
    }
    main .details
    {
        height: inherit;
        gap: 20px;
        justify-content: space-evenly;
    }
    main .details .first-column
    {
        line-height: 30px;
    }
    main .details .first-column h2
    {
        font-size: 15px;
    }
    main .details .first-column h1
    {
        font-size: 18px;
    }
    main .details
    {
        margin-top: 75px;
        margin-bottom: 30px;
        flex-direction: column-reverse;
    } 
}
@media (max-width:454.98px) 
{
    .container 
    {
        margin: auto 30px;
    }
    .navbar .tag a h1
    {
        font-size: 20px;
    }
    main .details .first-column
    {
        width: 200px;
    }
    main .details .second-column .image
    {
        width: 150px;
        height: 150px;
    }
    main .details
    {
        gap: 20px;
        justify-content: space-evenly;
    }
    main .details .first-column
    {
        line-height: 30px;
    }
    main .details .first-column h2
    {
        font-size: 15px;
    }
    main .details .first-column h1
    {
        font-size: 18px;
    }
}

/* about me */

#about .back_to_top
{
    position: fixed;
    right: 1%;
    bottom: 5%;
}
#about .back_to_top button
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    backdrop-filter: blur(30%);
    background-color: #26d9d3;
    color: black;
    cursor: grabbing;
}
#about .head h1
{
    font-size: 3rem;
    text-align: center;
    color: #b3bcbc;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #26d9d3;
    border-radius: 1px;
}

#about .details .first-column #para
{
    line-height: 25px;
    text-align: justify;
}
#about .details
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

#about .details .first-column
{
    color: rgb(248, 249, 253);
    line-height: 50px;
    width: 350px
}

#about .details .first-column h2 #transition
{
    color:#26d9d3;
    font-size: larger;
}
#about .details .first-column h1
{
    font-size: 2rem;
    font-weight: bolder;
}
#about .details .first-column .social-links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
    gap: 10px;
}
#about .details .first-column .social-links img
{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(38, 217, 211);
    border-radius: 50%;
    color: white;
    transition: transform 400ms;
}
#about .details .first-column .social-links img:hover
{
    transform: scale(1.1);
}


#about .details .first-column .resume a button
{
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
    border:1px solid aqua;
    background-color: rgb(38, 217, 211);
    box-shadow: 1px 1px 15px rgb(38, 217, 211);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 50px auto;
}
#about .details .second-column .image
{
    width: 400px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    animation : none;
}
#about .details .second-column .image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms;
}
@keyframes float 
{
    0%
    {
        transform: translate(0);
    }  
    50%
    {
        transform: translateY(-1.5rem);
    } 
    100%
    {
        transform: translate(0);
    }   
}
#about .details .second-column .image:hover img
{
    transform: scale(1.1);
}

@media (max-width:990.98px) 
{
    #about .details .second-column .image
    {
        width: 300px;
        height: 300px;
    }
}
@media (max-width:890.98px) 
{
    #about .details .second-column .image
    {
        width: 200px;
        height: 200px;
    }
    #about .details .first-column h2
    {
        font-size: large;
    }
    #about .details .first-column
    {
        width:270px ;
    }
    #about .details .first-column .social-links img
    {
        width: 20px;
        height: 20px;
    }
}
@media (max-width:700.98px) 
{
    #about .details .second-column .image
    {
        width: 150px;
        height: 150px;
    }
    #about .details
    {
        display: grid;
        place-items: center;
        gap: 20px;
        justify-content: space-evenly;
    }
    #about .details .first-column
    {
        line-height: 30px;
    }
    #about .details .first-column h2
    {
        font-size: 15px;
    }
    #about .details .first-column h1
    {
        font-size: 18px;
    }
    #about .details
    {
        margin-top: 75px;
        margin-bottom: 30px;
        flex-direction: column-reverse;
    } 
}
@media (max-width:454.98px) 
{
    #about .details
    {
        height: 130vh;
    }
    #about .details .first-column
    {
        width: 200px;
    }
    #about .details .second-column .image
    {
        width: 150px;
        height: 150px;
    }
    #about .details
    {
        gap: 20px;
        justify-content: space-evenly;
    }
    #about .details .first-column
    {
        line-height: 30px;
    }
    #about .details .first-column h2
    {
        font-size: 15px;
    }
    #about .details .first-column h1
    {
        font-size: 18px;
    }
}
@media (max-width:425.98px) 
{
    #about .head h1
    {
        font-size: 2rem;
    }
    #about .details
    {
        display: grid;
        place-items: center;
    }
}

/* services */
#services .head h1
{
    font-size: 3rem;
    text-align: center;
    color: #b3bcbc;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #26d9d3;
    border-radius: 1px;
}

#services .service_provides .boxes
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    height: 90vh;
    position: relative;
}
#services .service_provides .boxes .box
{
    width: 250px;
    text-align: center;
    color: white;
    background-color:rgb(49, 55, 67);
    box-shadow: 0px 1px 10px rgb(49, 55, 67);
    padding: 25px 10px;
    border-radius: 8px;
    cursor: pointer;
}
/* #services .service_provides .boxes .box:hover
{
    border: 1px solid #26d9d3;
} */
#services .service_provides .boxes .box svg
{
    border: 1px solid #26d9d3;
    background-color: #26d9d3;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.service_btn a button
{
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
    border:1px solid aqua;
    background-color: rgb(38, 217, 211);
    box-shadow: 1px 1px 15px rgb(38, 217, 211);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 30px auto;
}

@media (max-width:929.98px) 
{
    #services .service_provides .boxes .box
    {
        width: 200px;
    }  
    #services .service_provides .boxes .box svg
    {
        width: 30px;
        height: 30px;
    }
    #services .service_provides .boxes .box h2
    {
        font-size: 1rem;
    }
    #services .service_provides .boxes .box p
    {
        font-size: 12px;
    }
    .service_btn  a button
    {
        padding: 5px 20px;
        font-size: 10px;
    }
}
@media (max-width:729.98px) 
{
    #services .service_provides
    {
        height: 160vh;
    }
    #services .service_provides .boxes
    {
        display: grid;
        place-items: center;
        margin-top: 50px;
    }
    #services .service_provides .boxes .box
    {
        background-color:rgb(31, 35, 46);
    }
}
@media (max-width:454.98px) 
{
    #services .head h1
    {
        font-size: 2rem;
    }
}
/* projects */
#projects .head h1
{
    font-size: 3rem;
    text-align: center;
    color: #b3bcbc;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #26d9d3;
    border-radius: 1px;
}

#projects .images
{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 30px;
    align-items: center;
    height: 90vh;
}
#projects .images .image
{
    overflow: hidden;
    width: 250px;
    border-radius: 8px;
    transition: transform 400ms;
}
#projects .images .image:hover img
{
    transition: all ease .5s;
    transform: scale(1.1);
}
#projects .images .image img
{
    width: calc(100%);
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
}
#projects .images  #p1
{
    text-align: center;
    z-index: 1;
}
#projects .images .out 
{
    text-transform: uppercase;
    font-size: 13px;
}
#projects .images .out a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    border-bottom: 1px solid #26d9d3;
}
#projects .images button
{
    border: none;
    background-color: rgb(31, 35, 46);;
}

@media (max-width:1009.98px) 
{
    #projects .images
    {
        height: 150vh;
    }
}
@media (max-width:729.98px) 
{
    #projects .images
    {
        margin-top: 10px;
        height: inherit;
    }
    #projects .images button
    {
        background: rgb(49, 55, 67);
    }
}
@media (max-width:454.98px) 
{
    #project .images
    {
        gap: 10px;
    }
    #projects .head h1
    {
        font-size: 2rem;
    }
}

/* contact */
#contact .head h1
{
    font-size: 3rem;
    text-align: center;
    color: #b3bcbc;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #26d9d3;
    border-radius: 1px;
}
#contact .form 
{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 70vh;
}
#contact .form .form-flex 
{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
#contact .form .form-flex .first_column
{
    width: 100% !important;
    display: flex;
    gap: 10px;
}
#contact .form .form-flex .second_column
{
    width: 100%;
    display: flex;
    gap: 20px;
}
#contact .form .form-flex input
{
    width: 100%;
    color: white;
    background-color: rgb(49, 55, 67);
    border: 1px solid rgb(49, 55, 67);
    padding: 10px;
    border-radius: 8px;
}

#contact .form .form-flex input:focus
{
    outline: none;
}

input:invalid
{
    animation: shake 0.2s 2;
}
@keyframes shake 
{
    25%
    {
        transform: translateX(4px);
    }
    50%
    {
        transform: translateX(-4px);
    }    
    75%
    {
        transform: translateX(4px);
    } 
}


#contact .form .third_column input
{
    width: 94% !important;
}

.send a button
{
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
    border:1px solid aqua;
    background-color: rgb(38, 217, 211);
    box-shadow: 1px 1px 15px rgb(38, 217, 211);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 30px auto;
}

@media (max-width:1009.98px) 
{
    #contact .form{
        height: inherit;
        margin-top: 50px;
    }
}
@media (max-width:729.98px) 
{

    #contact .form .form-flex input
    {
        background: rgb(31, 35, 46);
    }
}
@media (max-width:454.98px) 
{
    #contact .form 
    {
        height: inherit;
    }
    #contact .form .form-flex
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    #contact .form .form-flex .first_column
    {
        flex-direction: column;
    }
    #contact .form .form-flex .second_column
    {
        flex-direction: column;
    }
    #contact .head h1
    {
        font-size: 2rem;
    }
    #contact .third_column input
    {
        width: 100% !important ;
    }
}